.c-add-todo {
  display: flex;
}
.c-add-todo-button {
  flex-shrink: 0;
  all: unset;
  height: 1.5rem;
  width: 1.5rem;
  margin-top: 0.5rem;
  border-radius: 50%;
  padding: 0.5rem;

  margin-left: -0.5rem;
  margin-right: -0.5rem;

  cursor: pointer;
}
.c-add-todo-button:hover {
  background: var(--global-neutral-400);
}
.c-add-todo-button:focus {
  background: var(--global-neutral-600);
}

.c-add-todo-button__icon {
  stroke: var(--global-theme-color);
  stroke-width: 2px;
}
.c-add-todo-data {
  padding-left: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.c-add-todo-data__input {
  width: 100%;
  all: unset;
  font-size: 1.4rem;
  font-weight: 600;
}
.c-add-todo-data__select {
  all: unset;
  font-size: 0.9rem;
  font-weight: 500;
}
